
astroid==2.3.3
attrs==20.3.0
certifi==2019.11.28
chardet==3.0.4
dnspython==1.16.0
idna==2.9
iniconfig==1.1.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysql-connector-python==8.0.19
packaging==20.9
pluggy==0.13.1
protobuf==3.6.1
py==1.10.0
pylint==2.4.4
pyparsing==2.4.7
pytest==6.2.2
requests==2.23.0
six==1.14.0
toml==0.10.2
Unidecode==1.1.1
urllib3==1.25.8
wrapt==1.11.2